.titulopagina{
    text-align: center;
}

.header{
   border-style: ridge;
   border-color: black;
   border-radius: 100px 100px 100px 100px;
   background-color: orange;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.whatsapp{
    height: 45px;
    width: 45px;
}